.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  /* padding: 40px; */
}

.main-1 {
  position: relative;
  left: 128px;
}

.flare-1 {
  position: absolute;
}

.star-1 {
  margin-top: 68px;
  margin-bottom: 99px;
  transform: translateX(100px);
}

.heading p {
  position: relative;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  font-family: "Clash Display", sans-serif;
}

.heading p > span > img {
  position: absolute;
  bottom: 75px;
  right: 160px;
}

.heading-2 > p:nth-of-type(1) {
  display: flex;
  gap: 10px;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  font-family: "Clash Display", sans-serif;
}

.heading-2 > p:nth-of-type(1) > span:nth-of-type(1) {
  color: #d434fe;
}

.heading-2 > p:nth-of-type(2) {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%; /* 33.2px */
  width: 522px;
  height: 66px;
  margin-bottom: 41px;
}

.time {
  display: flex;
  gap: 20px;
  color: #fff;
  font-family: Unica One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  margin-top: 77px;
}

.time > h2 > span {
  font-size: 15px;
}

.star-2 {
  position: absolute;
  left: 551px;
  top: 586px;
}

.main-2 {
  position: relative;
}

.rev {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  width: 742px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 32px;
}

.rev > img {
  position: absolute;
  left: 60%;
}

.star-3 {
  position: absolute;
  left: 106px;
  margin-top: 70px;
}

.img-sec {
  position: relative;
  /* right: 10%; */
  margin-top: 40px;
}

.img1 {
  position: absolute;
  left: 8%;
}
/* 
.img2 {
  position: relative;
  z-index: 1;
} */

.flare-2 {
  position: absolute;
  bottom: 30px;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main-1 {
    left: 28px;
    margin-top: 40px;
  }

  .star-1 {
    margin-top: 68px;
    margin-bottom: 9px;
    transform: translateX(100px);
  }

  .star-1 > img {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }

  .star-2 {
    position: absolute;
    left: 351px;
    top: 586px;
  }

  .flare-1 {
    position: absolute;
    right: 65px;
  }

  .flare-1 > img {
    width: 400px;
    height: 400px;
  }

  .heading p {
    font-size: 32px;
    text-align: center;
  }

  .heading > p > span > img {
    width: 18px;
    height: 26px;
    flex-shrink: 0;
    bottom: 35px;
    left: 250px;
  }

  .heading-2 > p:nth-of-type(1) {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .heading-2 {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .heading-2 > p:nth-of-type(1) > span > img {
    width: 32.797px;
    height: 32.797px;
    flex-shrink: 0;
  }

  .heading-2 > p:nth-of-type(2) {
    text-align: center;
    font-size: 13px;
    width: 284px;
    position: relative;
    z-index: 1;
  }

  .reg {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .time {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .time > h2 {
    font-family: Unica One;
    font-size: 48px;
    line-height: 133%; /* 63.84px */
    text-align: center;
  }

  .rev {
    font-size: 26px;
    width: 524px;
    height: 14px;
    flex-shrink: 0;
    text-align: center;
    transform: translateX(50px);
    position: relative;
    bottom: 450px;
  }

  .rev > img {
    width: 215px;
    height: 7px;
    flex-shrink: 0;
  }

  .img1 {
    position: absolute;
    left: 8%;
  }

  .img1 > img {
    width: 338.067px;
    height: 324.889px;
    flex-shrink: 0;
  }

  .img2 > img {
    width: 419.669px;
    height: 362.395px;
    flex-shrink: 0;
  }

  .flare-2 {
    display: none;
  }

  .img-sec {
    margin-top: 10px;
    position: relative;
    bottom: 70px;
    left: 50px;
  }

  .main-line {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .main-1 {
    left: 28px;
  }

  .star-1 {
    margin-top: 68px;
    margin-bottom: 9px;
  }

  .star-1 > img {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }

  .star-2 {
    position: absolute;
    left: 261px;
    top: 256px;
  }

  .star-2 > img {
    width: 11px;
    height: 13px;
  }

  .heading p {
    position: relative;
    font-size: 32px;
    /* left: 20%; */
    text-align: center;
  }

  .heading p > span > img {
    width: 18px;
    height: 26px;
    flex-shrink: 0;
  }

  .rev {
    width: 324px;
    font-size: 16px;
    transform: translateX(30px);
  }

  .rev > img {
    width: 115px;
  }

  .img2 > img {
    width: 362.669px;
    height: 332.395px;
    flex-shrink: 0;
  }

  .img-sec {
    position: relative;
    bottom: 70px;
    left: 0px;
  }
}
