nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 369px;
  margin-top: 67px;
  margin-bottom: 30px;
}

.logo > .link {
  text-decoration: none;
}

.logo > .link > h2 {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.logo > .link > h2 > span {
  color: #d434fe;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 121px;
}

.nav-items > ul {
  list-style: none;
  display: flex;
  gap: 56px;
}

.nav-items > ul > li {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.nav-items > ul > .link {
  text-decoration: none;
}

.nav-items > ul > .link > li {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  nav {
    gap: 100px;
  }

  .nav-items {
    gap: 50px;
  }
}
