.main-register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-img {
  position: relative;
}

.reg-img > img:nth-of-type(2) {
  width: 600px;
  height: 600px;
  position: absolute;
}

.reg-img > img:nth-of-type(3) {
  position: relative;
}

.register {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.register > p:nth-of-type(1) {
  color: #d434fe;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 46px;
}

.reg-input {
  display: grid;
  gap: 25px;
}

.reg-input > p:nth-of-type(1) {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reg-input > p:nth-of-type(2) {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reg-form {
  display: grid;
  grid-template-columns: 250px 450px;
  grid-gap: 30px;
}

.reg-form > label {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: grid;
  gap: 10px;
}

.reg-form > label > input {
  width: 263px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reg-form > label > input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.reg-form > label > select {
  width: 263px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.option {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.register > p:nth-of-type(2) {
  color: #ff26b9;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.tick > label {
  display: flex;
  gap: 10px;
}

.tick > label > p {
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.m > button {
  width: 558px;
  height: 53px;
  flex-shrink: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@media screen and (max-width: 768px) {
  .main-register {
    display: flex;
    flex-direction: column;
  }

  .reg-form {
    grid-template-columns: 250px 250px;
  }
}

@media screen and (max-width: 480px) {
  .reg-img > img:nth-of-type(3) {
    width: 295px;
    height: 255px;
    transform: translateY(100px);
  }

  .register > p:nth-of-type(1) {
    text-align: center;
    transform: translateY(-230px);
    position: relative;
    right: 60px;
    font-size: 20px;
  }

  .register > p:nth-of-type(2) {
    font-size: 9px;
    text-align: center;
  }

  .reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    grid-gap: 10px;
  }

  .reg-form > label {
    /* display: grid; */
    gap: 5px;
  }

  .reg-form > label > input {
    width: 263px;
    height: 39px;
    flex-shrink: 0;
  }

  .reg-input {
    gap: 15px;
  }

  .reg-input > p:nth-of-type(1) {
    text-align: center;
    /* width: 263.235px; */
    height: 15px;
    flex-shrink: 0;
    transform: translateX(-20px);
  }

  .reg-input > p:nth-of-type(2) {
    font-size: 20px;
    font-family: Montserrat;
    text-align: center;
    transform: translateX(-5px);
  }

  .reg-img > img:nth-of-type(2) {
    position: absolute;
    right: 30px;
    width: 500px;
    height: 400px;
  }

  .reg-img > img:nth-of-type(1) {
    display: none;
  }

  .reg-img > img:nth-of-type(5) {
    width: 14px;
    height: 13px;
    flex-shrink: 0;
  }

  .reg-img > img:nth-of-type(4) {
    width: 14px;
    height: 13px;
    flex-shrink: 0;
    position: absolute;
    top: 430px;
    left: 0px;
  }

  .tick > label > p {
    font-size: 10px;
    width: 228px;
    text-align: left;
  }

  .m {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m > button {
    width: 172px;
    height: 53px;
    flex-shrink: 0;
  }
}
