.partners-section {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  position: relative;
  margin-bottom: 140px;
}

.partners {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-bottom: 100px;
}

.partners > p:nth-of-type(1) {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 85.938% */
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.partners > p:nth-of-type(2) {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
  width: 452px;
  text-align: center;
}

.partners-section > img:nth-of-type(1) {
  position: relative;
  transform: translateX(100px);
  z-index: 1;
}

.partners-section > img:nth-of-type(2) {
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: 55%;
  right: 70%;
}

.sponsors {
  position: relative;
}

.sponsors > img:nth-of-type(1) {
  position: absolute;
  left: 55%;
  top: 90px;
}

.sponsors > img:nth-of-type(3) {
  position: absolute;
  right: 42%;
  top: 470px;
}

.partners-section > img:nth-of-type(3) {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 63%;
  top: 490px;
}

@media screen and (max-width: 768px) {
  .sponsors > img:nth-of-type(2) {
    width: 644px;
    height: 428.59px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {
  .partners > p:nth-of-type(1) {
    font-size: 20px;
    line-height: 27.5px; /* 137.5% */
  }

  .sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partners > p:nth-of-type(2) {
    font-size: 12px;
    line-height: 20.5px; /* 170.833% */
  }

  .sponsors > img:nth-of-type(2) {
    width: 333px;
    height: 148.59px;
    flex-shrink: 0;
  }

  .sponsors > img:nth-of-type(1) {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }

  .sponsors > img:nth-of-type(3) {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }
}
