.award-section {
  background: url("../img/background.png"),
    lightgray 0px -0.093px / 100% 109.967% no-repeat;
  background-blend-mode: color-burn;
  background: #150e28;
  border: 5px solid #150e28;
  margin-bottom: 30px;
}

.awards {
  display: grid;
  grid-template-columns: 550px 680px;
  grid-gap: 80px;
  align-items: center;
  justify-content: center;
  margin-top: 183px;
}

.award {
  position: relative;
  bottom: 150px;
}

.award > img:nth-of-type(1) {
  position: absolute;
  bottom: 200px;
  left: 200px;
}

.award > img:nth-of-type(2) {
  position: absolute;
  left: 200px;
  top: 530px;
}

.award-2 {
  position: relative;
  /* margin-top: 100px; */
}

.award-2 > img:nth-of-type(1) {
  position: absolute;
  z-index: 1;
}

.award-2 > img:nth-of-type(2) {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -30px;
  top: -300px;
}

.prize-section {
  display: grid;
  gap: 150px;
  position: relative;
}

.prize-text {
  display: grid;
  gap: 30px;
  position: relative;
}

.prize-text > p:nth-of-type(1) {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: grid;
  width: 174px;
  height: 78px;
}

.prize-text > p:nth-of-type(1) > span {
  color: #d434fe;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.prize-text > p:nth-of-type(2) {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.9%; /* 27.344px */
  width: 450px;
}

.prize-text > img:nth-of-type(1) {
  position: absolute;
  left: 45%;
  top: 85px;
}

.prize-text > img:nth-of-type(2) {
  position: absolute;
  left: 8%;
  top: 285px;
}

.prizes {
  position: relative;
}

.prizes > img:nth-of-type(1) {
  position: absolute;
  left: 98%;
  top: 110px;
}

.prizes > img:nth-of-type(3) {
  position: absolute;
  left: 65%;
  top: 500px;
}

.prize-section > img {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 180px;
  top: 70%;
}

@media screen and (max-width: 768px) {
  .award-2 > img:nth-of-type(1) {
    width: 321px;
    height: 282px;
    position: absolute;
    right: -70px;
    top: 150px;
  }

  .prizes > img:nth-of-type(2) {
    width: 400px;
    height: 300px;
  }

  .prize-text {
    position: relative;
    bottom: 10px;
    right: 140px;
  }

  .awards {
    margin-top: 83px;
  }

  .prize-text > p:nth-of-type(1) {
    /* font-size: 20px; */
    font-weight: 700;
    text-align: center;
    transform: translateX(50px);
  }

  .prize-text > p:nth-of-type(2) {
    /* font-size: 12px; */
    width: 277px;
    height: 51px;
    flex-shrink: 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .awards {
    display: flex;
    flex-direction: column;
    grid-gap: 80px;
    margin-top: 183px;
  }

  .prize-section {
    display: flex;
    flex-direction: column;
  }

  .award-2 > img:nth-of-type(1) {
    width: 321px;
    height: 282px;
    flex-shrink: 0;
    position: absolute;
    right: -160px;
    top: 200px;
  }

  .prizes > img:nth-of-type(2) {
    width: 400px;
    height: 300px;
  }

  .prize-text > p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .prize-text > p:nth-of-type(1) > span {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .prize-text > p:nth-of-type(2) {
    font-size: 12px;
    text-align: center;
    width: 277px;
    height: 51px;
    flex-shrink: 0;
  }

  .prize-text {
    display: grid;
    gap: 0px;
    position: relative;
    bottom: 200px;
    right: 0px;
    justify-content: center;
    align-items: center;
  }

  .prize-text > img:nth-of-type(1) {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }

  .prize-text > img:nth-of-type(2) {
    width: 10px;
    height: 12px;
    flex-shrink: 0;
  }
}
