.section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 109px;
  justify-content: center;
  position: relative;
  margin-top: 62px;
  margin-bottom: 78px;
}

.sec-img-1 {
  position: inherit;
  left: 230px;
}

.first {
  position: absolute;
  bottom: 60%;
  left: -9%;
}

.third {
  position: absolute;
  left: 459px;
  top: 90%;
}

.intro > p:nth-of-type(1) {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; /* 0px */
  width: 398px;
  height: 86px;
  display: grid;
}

.intro {
  position: relative;
}

.intro > p:nth-of-type(1) > span {
  color: #d434fe;
  font-family: Clash Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  /* width: 398px;
  height: 86px; */
}

.intro > p:nth-of-type(2) {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
  width: 535px;
  height: 165px;
}

.star-4 {
  position: absolute;
  left: 70%;
  top: 10px;
}

.section-2 {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: center;
  justify-content: center;
  /* gap: 25rem; */
  background: #150e28;
  /* transform: translateX(10%); */
}

.star-5 {
  position: absolute;
  top: -50px;
  left: 339px;
}

.sect-2-text {
  position: relative;
  bottom: 500px;
}

.word {
  position: relative;
  z-index: 1;
  top: 550px;
}

.word > p:nth-of-type(1) {
  color: #fff;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; /* 0px */
  display: grid;
  height: 86px;
  width: 170px;
}

.word > p:nth-of-type(1) > span {
  color: #d434fe;
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%; /* 0px */
}

.word > p:nth-of-type(2) {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
  width: 535px;
  height: 165px;
}

.star-6 {
  position: absolute;
  left: 641px;
}

.flare-3 {
  position: absolute;
  top: 145%;
  right: 20px;
}

.flare-3 > img {
  height: 600px;
  width: 600px;
}

.sect-2-img {
  position: relative;
  left: 10%;
}

.sect-2-img > img:nth-of-type(2) {
  position: absolute;
  top: 180px;
  left: 45%;
  height: 600px;
  width: 600px;
  /* transform: translateY(-50%); */
}
