* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #150e28;
  /* padding: 50px; */
  background-blend-mode: hard-light;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
